/*
GLOBALLY RELEVANT CSS FOR LAYOUT (BODY; NAVBAR; etc.)
*/

html,
body {
  margin: 0;
  background-color: var(--color-bg-light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

footer.navbar {
  min-height: 10vh;
  background-color: var(--color-secondary) !important;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer .container {
  height: 100% !important;
  min-height: auto !important;
  padding-bottom: 0 !important
}

nav.navbar {
  min-height: 10vh;
  background-color: var(--color-secondary) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}