/*CSS Regeln, die layout-technisch global relevant sind, z.B. für Body, Navbar, etc.*/

html, body {
  margin: 0;
  background-color: var(--color-bg-light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

footer.navbar {
  min-height: 10vh;
  background-color: var(--color-secondary) !important;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

nav.navbar {
  min-height: 10vh;
  background-color: var(--color-secondary) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}