/*CSS Regeln, die layout-technisch global relevant sind, z.B. für Body, Navbar, etc.*/

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

footer.navbar {
    min-height: 8vh;
    background-color: #171717 !important;
}

.navbar {
    min-height: 8vh;
    background-color: #171717 !important;
}