/* in home.css ergänzen */

body.home-view {
    background-color: rgb(200, 200, 200);
}

#hero-section {
    background-image: url('/images/wip-screen_1920x1080.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

.text-shadow {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 
                 0 0 4px rgba(0, 0, 0, 0.1);
}

.text-bold {
    font-weight: bold
}

.text-more-space {
    margin-bottom: 1rem;

}

.formWrapper {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    margin: 1rem auto 0 auto;
}

.search-results ul {
    max-height: 200px;
    overflow-y: auto;
}

.search-result-home {
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#map {
    height: 60vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}