#hero-section {
    background-image: url('/images/travelBuddy_home_WIP.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

.formWrapper {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    margin: 1rem auto 0 auto;
}

#map {
    height: 60vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    #map {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 2rem;
    }
}