.bg-home {
    background-image: url('/images/travelBuddy_home_placeholder.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

.search-results ul {
    max-height: 200px;
    overflow-y: auto;
}

.text-shadow {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7), 
                 0 0 4px rgba(0, 0, 0, 0.5);
}